.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2F2FBF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 6px;
    width: 750px;
    box-sizing: border-box;
}

.modal h2 {
    margin: 20px 15px;
    font-size: 29px;
    font-weight: 500;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.form-group label{
    margin-right: 35px;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 500;
}

.form-group input[type="text"]{
    width: 70%;
    padding: 8px 25px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #CCCCCC;
    color: #979797;
    font-size: 23px;
    font-weight: 400;
    outline: none;
}

.color-picker {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.color-circle:hover {
    transform: scale(1.2);
}

.modal-submit {
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    border-radius: 11px;
    font-size: 20px;
    font-weight: 400;
    background-color: #001F8B;
    color: white;
    float: right;
}

