.note {
    padding: 25px 10px 10px 25px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
}

.note-footer {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: right;
    color: #353535;
}

.note-content {
    font-size: 18px;
    font-weight: 400;
}