.notes-panel {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #DAE5F5;
}

.default {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.default-heading{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0px;
}

.default-content{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #292929;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #292929;
}

.notes-header {
    display: flex;
    align-items: center;
    background-color: #001F8B;
    color: #FFFFFF;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}

.notes-header h2{
    font-size: 24px;
    font-weight: 500;
}

.notes-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0px 35px;
}



.add-note-form {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #001F8B;
}

.add-note-form textarea {
    margin: 30px;
    padding: 20px;
    border: none;
    border-radius: 11px;
    resize: vertical;
    height: 220px;
    font-size: 30px;
    font-weight: 400;
    outline: none;
}

.submit{
    position: absolute;
    bottom: 50px;
    right: 55px;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
}