.sidebar {
    width: 25vw;
    background-color: #FFFFFF;
    padding: 20px 0px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
}

.heading {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.topics-list {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 24px;
    font-weight: 500;
}

.custom-scrollbar {
    overflow-y: auto; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #D9D9D9; 
    border-radius: 5px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #FFFFFF; 
    border: 1.5px solid #D9D9D9; 
    border-radius: 4px;
}


.topic-item {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 14px;
    transition: background-color 0.3s;
}

.topic-item:hover {
    background-color: #E0E0E0;
}

.topic-item.active {
    background-color: #2F2F2F2B;
    font-weight: bold;
}

.topic-initials {
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.topic-name {
    flex-grow: 1;
}

.add-topic-button {
    padding: 1px;
    font-size: 70px;
    font-weight: 500;
    border: none;
    background-color: #16008B;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 90px;
    height: 90px;
    align-self: center;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 45px;
    right: 30px;
    font-family: "Roboto";
}