*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.sidebar, .notes-panel{
    display: none;
}

@media (min-width: 900px) {
    html {
        font-size: 16px;
    }
    .sidebar{
        display: flex;
    }
    .notes-panel{
        display: flex;
    }
    .arrow-back{
        display: none;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 13px;
    }
    .sidebar.show{
        display: flex;
    }
    .sidebar.hide{
        display: none;
    }
    .notes-panel.show{
        display: flex;
    }
    .notes-panel.hide{
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 900px) {
    html {
        font-size: 13px; 
    }

    .sidebar {
        display: flex; 
        flex:2 
    }

    .notes-panel {
        display: flex; 
        flex:3 
    }

    .arrow-back {
        display: none;
    }
}