*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.sidebar, .notes-panel{
    display: none;
}

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }
    .sidebar{
        display: flex;
    }
    .notes-panel{
        display: flex;
    }
    .arrow-back{
        display: none;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 13px;
    }
    .sidebar.show{
        display: flex;
    }
    .sidebar.hide{
        display: none;
    }
    .notes-panel.show{
        display: flex;
    }
    .notes-panel.hide{
        display: none;
    }
}